[Unit]
Description=Zabbix Server
After=syslog.target
After=network.target
After=mysql.service
After=mysqld.service
After=mariadb.service
After=postgresql.service
After=pgbouncer.service
After=postgresql-9.4.service
After=postgresql-9.5.service
After=postgresql-9.6.service
After=postgresql-10.service
After=postgresql-11.service
After=postgresql-12.service
After=postgresql-13.service
After=postgresql-14.service
After=postgresql-15.service
After=postgresql-16.service

[Service]
Environment="CONFFILE=/etc/zabbix/zabbix_server.conf"
EnvironmentFile=-{{ _zbxserver_env_file_path }}
Type=forking
Restart=on-failure
PIDFile={{ zbxserver_pid_file }}
KillMode=control-group
ExecStart=/usr/sbin/zabbix_server -c $CONFFILE
ExecStop={{ _zbxserver_exec_stop_command }}
RestartSec=10s
TimeoutSec=0
LimitNOFILE=65536:1048576

[Install]
WantedBy=multi-user.target
