{{ ansible_managed | comment }}

PidFile={{ zbxagent_pid_file }}
LogType={{ zbxagent_log_type }}
{% if zbxagent_log_type == 'file' %}
LogFile={{ zbxagent_log_file }}
LogFileSize={{ zbxagent_log_file_size }}
{% endif %}
{% if zbxagent_source_ip is defined %}
SourceIP={{ zbxagent_source_ip }}
{% endif %}
Server={{ zbxagent_servers | join(',') }}
ListenPort={{ zbxagent_listen_port }}
{% if zbxagent_listen_ip is defined %}
ListenIP={{ zbxagent_listen_ip }}
{% endif %}
{% if zbxagent_status_port is defined %}
StatusPort={{ zbxagent_status_port }}
{% endif %}
ServerActive={{ zbxagent_active_servers | join(',') }}
{% if zbxagent_hostname is defined %}
Hostname={{ zbxagent_hostname }}
{% endif %}
{% if zbxagent_hostname_item is defined %}
HostnameItem={{ zbxagent_hostname_item }}
{% endif %}
{% if zbxagent_host_metadata is defined %}
HostMetadata={{ zbxagent_host_metadata }}
{% endif %}
{% if zbxagent_host_metadata_item is defined %}
HostMetadataItem={{ zbxagent_host_metadata_item }}
{% endif %}
{% if zbxagent_host_interface is defined %}
HostInterface={{ zbxagent_host_interface }}
{% endif %}
{% if zbxagent_host_interface_item is defined %}
HostInterfaceItem={{ zbxagent_host_interface_item }}
{% endif %}
RefreshActiveChecks={{ zbxagent_refresh_active_checks }}
BufferSend={{ zbxagent_buffer_send }}
{% if not zbxagent_enable_persistent_buffer %}
BufferSize={{ zbxagent_buffer_size }}
{% endif %}
EnablePersistentBuffer={{ zbxagent_enable_persistent_buffer | ternary('1', '0') }}
{% if zbxagent_enable_persistent_buffer %}
PersistentBufferPeriod={{ zbxagent_persistent_buffer_period }}
PersistentBufferFile={{ zbxagent_persistent_buffer_file }}
{% endif %}
HeartbeatFrequency={{ zbxagent_heartbeat_frequency }}
{% for key, value in zbxagent_aliases.items() %}
Alias={{ key }}:{{ value }}
{% endfor %}
Timeout={{ zbxagent_timeout }}
{% for include_file in zbxagent_include_files %}
Include={{ include_file }}
{% endfor %}
{% for include_directory in zbxagent_include_directories %}
Include={{ include_directory }}/
Include={{ include_directory }}/*.conf
{% endfor %}
{% if zbxagent_plugin_timeout is defined %}
PluginTimeout={{ zbxagent_plugin_timeout }}
{% endif %}
{% if zbxagent_plugin_socket is defined %}
PluginSocket={{ zbxagent_plugin_socket }}
{% endif %}
UnsafeUserParameters={{ zbxagent_unsafe_user_parameters | ternary('1', '0') }}
{% for user_parameter in zbxagent_user_parameters.items() %}
UserParameter={{ user_parameter.key }},{{ user_parameter.value }}
{% endfor %}
{% if zbxagent_user_parameter_dir is defined %}
UserParameterDir={{ zbxagent_user_parameter_dir }}
{% endif %}
ControlSocket={{ zbxagent_control_socket }}
TLSConnect={{ zbxagent_tls_connect }}
TLSAccept={{ zbxagent_tls_accept }}
{% if zbxagent_tls_ca_file is defined %}
TLSCAFile={{ zbxagent_tls_ca_file }}
{% endif %}
{% if zbxagent_tls_crl_file is defined %}
TLSCRLFile={{ zbxagent_tls_crl_file }}
{% endif %}
{% if zbxagent_tls_server_cert_issuer is defined %}
TLSServerCertIssuer={{ zbxagent_tls_server_cert_issuer }}
{% endif %}
{% if zbxagent_tls_server_cert_subject is defined %}
TLSServerCertSubject={{ zbxagent_tls_server_cert_subject }}
{% endif %}
{% if zbxagent_tls_cert_file is defined %}
TLSCertFile={{ zbxagent_tls_cert_file }}
{% endif %}
{% if zbxagent_tls_key_file is defined %}
TLSKeyFile={{ zbxagent_tls_key_file }}
{% endif %}
{% if zbxagent_tls_psk_identity is defined %}
TLSPSKIdentity={{ zbxagent_tls_psk_identity }}
{% endif %}
{% if zbxagent_tls_psk_file is defined %}
TLSPSKFile={{ zbxagent_tls_psk_file }}
{% endif %}
Plugins.Log.MaxLinesPerSecond={{ zbxagent_log_max_lines_per_second }}
Plugins.SystemRun.LogRemoteCommands={{ zbxagent_systemrun_log_remote_commands | ternary('1', '0') }}
{% for plugin_name, parameters in zbxagent_plugin_parameters.items() %}
{% for parameter_name, value in parameters.items() %}
Plugins.{{ plugin_name }}.{{ parameter_name }}={{ value }}
{% endfor %}
{% endfor %}
{% if zbxagent_install_ember_plus_plugin %}
{% if zbxagent_ember_plus_default_uri is defined %}
Plugins.EmberPlus.DefaultUri={{ zbxagent_ember_plus_default_uri }}
{% endif %}
{% if zbxagent_ember_plus_keepalive is defined %}
Plugins.EmberPlus.KeepAlive={{ zbxagent_ember_plus_keepalive }}
{% endif %}
{% for session in zbxagent_ember_plus_sessions %}
Plugins.EmberPlus.{{ session.name }}.Uri={{ session.uri }}
{% endfor %}
{% if zbxagent_ember_plus_system_path is defined %}
Plugins.EmberPlus.System.Path={{ zbxagent_ember_plus_system_path }}
{% endif %}
{% if zbxagent_ember_plus_timeout is defined %}
Plugins.EmberPlus.Timeout={{ zbxagent_ember_plus_timeout }}
{% endif %}
{% endif %}
{% if zbxagent_install_mongodb_plugin %}
{% if zbxagent_mongodb_default_password is defined %}
Plugins.MongoDB.Default.Password={{ zbxagent_mongodb_default_password }}
{% endif %}
{% if zbxagent_mongodb_default_uri is defined %}
Plugins.MongoDB.Default.Uri={{ zbxagent_mongodb_default_uri }}
{% endif %}
{% if zbxagent_mongodb_default_user is defined %}
Plugins.MongoDB.Default.User={{ zbxagent_mongodb_default_user }}
{% endif %}
{% if zbxagent_mongodb_keepalive is defined %}
Plugins.MongoDB.KeepAlive={{ zbxagent_mongodb_keepalive }}
{% endif %}
{% for session in zbxagent_mongodb_sessions %}
{% if session.password is defined %}
Plugins.MongoDB.{{ session.name }}.Password={{ session.password }}
{% endif %}
{% if session.tls_ca_file is defined %}
Plugins.MongoDB.{{ session.name }}.TLSCAFile={{ session.tls_ca_file }}
{% endif %}
{% if session.tls_cert_file is defined %}
Plugins.MongoDB.{{ session.name }}.TLSCertFile={{ session.tls_cert_file }}
{% endif %}
{% if session.tls_connect is defined %}
Plugins.MongoDB.{{ session.name }}.TLSKeyFile={{ session.tls_connect }}
{% endif %}
{% if session.tls_key_file is defined %}
Plugins.MongoDB.{{ session.name }}.TLSKeyFile={{ session.tls_key_file }}
{% endif %}
{% endfor %}
{% if zbxagent_mongodb_system_path is defined %}
Plugins.MongoDB.System.Path={{ zbxagent_mongodb_system_path }}
{% endif %}
{% if zbxagent_mongodb_timeout is defined %}
Plugins.MongoDB.Timeout={{ zbxagent_mongodb_timeout }}
{% endif %}
{% endif %}
{% if zbxagent_install_mssql_plugin %}
{% if zbxagent_mssql_custom_queries_dir is defined %}
Plugins.MSSQL.CustomQueriesDir={{ zbxagent_mssql_custom_queries_dir }}
{% endif %}
{% if zbxagent_mssql_default_ca_cert_path is defined %}
Plugins.MSSQL.Default.CACertPath={{ zbxagent_mssql_default_ca_cert_path }}
{% endif %}
{% if zbxagent_mssql_default_database is defined %}
Plugins.MSSQL.Default.Database={{ zbxagent_mssql_default_database }}
{% endif %}
{% if zbxagent_mssql_default_encrypt is defined %}
Plugins.MSSQL.Default.Encrypt={{ zbxagent_mssql_default_encrypt }}
{% endif %}
{% if zbxagent_mssql_default_host_name_in_certificate is defined %}
Plugins.MSSQL.Default.HostNameInCertificate={{ zbxagent_mssql_default_host_name_in_certificate | lower }}
{% endif %}
{% if zbxagent_mssql_default_password is defined %}
Plugins.MSSQL.Default.Password={{ zbxagent_mssql_default_password }}
{% endif %}
{% if zbxagent_mssql_default_tls_min_version is defined %}
Plugins.MSSQL.Default.TLSMinVersion={{ zbxagent_mssql_default_tls_min_version }}
{% endif %}
{% if zbxagent_mssql_default_uri is defined %}
Plugins.MSSQL.Default.Uri={{ zbxagent_mssql_default_uri }}
{% endif %}
{% if zbxagent_mssql_default_user is defined %}
Plugins.MSSQL.Default.User={{ zbxagent_mssql_default_user }}
{% endif %}
{% if zbxagent_mssql_keepalive is defined %}
Plugins.MSSQL.KeepAlive={{ zbxagent_mssql_keepalive }}
{% endif %}
{% for session in zbxagent_mssql_sessions %}
{% if session.ca_cert_path is defined %}
Plugins.MSSQL.{{ session.name }}.CACertPath={{ session.ca_cert_path }}
{% endif %}
{% if session.database is defined %}
Plugins.MSSQL.{{ session.name }}.Database={{ session.database }}
{% endif %}
{% if session.encrypt is defined %}
Plugins.MSSQL.{{ session.name }}.Encrypt={{ session.encrypt }}
{% endif %}
{% if session.host_name_in_certificate is defined %}
Plugins.MSSQL.{{ session.name }}.HostNameInCertificate={{ session.host_name_in_certificate | lower }}
{% endif %}
{% if session.password is defined %}
Plugins.MSSQL.{{ session.name }}.Password={{ session.password }}
{% endif %}
{% if session.tls_min_version is defined %}
Plugins.MSSQL.{{ session.name }}.TLSMinVersion={{ session.tls_min_version }}
{% endif %}
{% if session.uri is defined %}
Plugins.MSSQL.{{ session.name }}.Uri={{ session.uri }}
{% endif %}
{% if session.user is defined %}
Plugins.MSSQL.{{ session.name }}.User={{ session.user }}
{% endif %}
{% endfor %}
{% if zbxagent_mssql_system_path is defined %}
Plugins.MSSQL.System.Path={{ zbxagent_mssql_system_path }}
{% endif %}
{% if zbxagent_mssql_timeout is defined %}
Plugins.MSSQL.Timeout={{ zbxagent_mssql_timeout }}
{% endif %}
{% endif %}
{% if zbxagent_install_pgsql_plugin %}
{% if zbxagent_pgsql_call_timeout is defined %}
Plugins.PostgreSQL.CallTimeout={{ zbxagent_pgsql_call_timeout }}
{% endif %}
{% if zbxagent_pgsql_custom_queries_path is defined %}
Plugins.PostgreSQL.CustomQueriesDir={{ zbxagent_pgsql_custom_queries_path }}
{% endif %}
{% if zbxagent_pgsql_default_cache_mode is defined %}
Plugins.PostgreSQL.Default.CacheMode={{ zbxagent_pgsql_default_cache_mode }}
{% endif %}
{% if zbxagent_pgsql_default_database is defined %}
Plugins.PostgreSQL.Default.Database={{ zbxagent_pgsql_default_database }}
{% endif %}
{% if zbxagent_pgsql_default_password is defined %}
Plugins.PostgreSQL.Default.Password={{ zbxagent_pgsql_default_password }}
{% endif %}
{% if zbxagent_pgsql_default_tls_ca_file is defined %}
Plugins.PostgreSQL.Default.TLSCAFile={{ zbxagent_pgsql_default_tls_ca_file }}
{% endif %}
{% if zbxagent_pgsql_default_tls_cert_file is defined %}
Plugins.PostgreSQL.Default.TLSCertFile={{ zbxagent_pgsql_default_tls_cert_file }}
{% endif %}
{% if zbxagent_pgsql_default_tls_connect is defined %}
Plugins.PostgreSQL.Default.TLSConnect={{ zbxagent_pgsql_default_tls_connect }}
{% endif %}
{% if zbxagent_pgsql_default_tls_key_file is defined %}
Plugins.PostgreSQL.Default.TLSKeyFile={{ zbxagent_pgsql_default_tls_key_file }}
{% endif %}
{% if zbxagent_pgsql_default_uri is defined %}
Plugins.PostgreSQL.Default.Uri={{ zbxagent_pgsql_default_uri }}
{% endif %}
{% if zbxagent_pgsql_default_user is defined %}
Plugins.PostgreSQL.Default.User={{ zbxagent_pgsql_default_user }}
{% endif %}
{% if zbxagent_pgsql_keepalive is defined %}
Plugins.PostgreSQL.KeepAlive={{ zbxagent_pgsql_keepalive }}
{% endif %}
{% for session in zbxagent_pgsql_sessions %}
{% if session.cache_mode is defined %}
Plugins.PostgreSQL.{{ session.name }}.CacheMode={{ session.cache_mode }}
{% endif %}
{% if session.database is defined %}
Plugins.PostgreSQL.{{ session.name }}.Database={{ session.database }}
{% endif %}
{% if session.password is defined %}
Plugins.PostgreSQL.{{ session.name }}.Password={{ session.password }}
{% endif %}
{% if session.tls_ca_file is defined %}
Plugins.PostgreSQL.{{ session.name }}.TLSCAFile={{ session.tls_ca_file }}
{% endif %}
{% if session.tls_cert_file is defined %}
Plugins.PostgreSQL.{{ session.name }}.TLSCertFile={{ session.tls_cert_file }}
{% endif %}
{% if session.tls_connect is defined %}
Plugins.PostgreSQL.{{ session.name }}.TLSConnect={{ session.tls_connect }}
{% endif %}
{% if session.tls_key_file is defined %}
Plugins.PostgreSQL.{{ session.name }}.TLSKeyFile={{ session.tls_key_file }}
{% endif %}
{% if session.uri is defined %}
Plugins.PostgreSQL.{{ session.name }}.Uri={{ session.uri }}
{% endif %}
{% if session.user is defined %}
Plugins.PostgreSQL.{{ session.name }}.User={{ session.user }}
{% endif %}
{% endfor %}
{% if zbxagent_pgsql_system_path is defined %}
Plugins.PostgreSQL.System.Path={{ zbxagent_pgsql_system_path }}
{% endif %}
{% if zbxagent_pgsql_timeout is defined %}
Plugins.PostgreSQL.Timeout={{ zbxagent_pgsql_timeout }}
{% endif %}
{% endif %}
{% for allow_key in zbxagent_allow_keys %}
AllowKey={{ allow_key }}
{% endfor %}
{% for deny_key in zbxagent_deny_keys %}
DenyKey={{ deny_key }}
{% endfor %}
ForceActiveChecksOnStart={{ zbxagent_force_active_checks_on_start | ternary('1', '0') }}
