<?php
{{ ansible_managed | comment('c') }}

global $DB;

$DB['TYPE']        = '{{ zbxserver_database_type | upper }}';
$DB['SERVER']      = '{{ zbxserver_database_server_name }}';
$DB['PORT']        = '{{ zbxserver_database_port }}';
$DB['DATABASE']    = '{{ zbxserver_database_name }}';
{% if not zbxserver_configure_vault %}
$DB['USER']        = '{{ zbxserver_user }}';
$DB['PASSWORD']    = '{{ zbxserver_database_password }}';
{% endif %}
$DB['ENCRYPTION']  = {{ zbxserver_database_use_ssl | lower }};
{% if zbxserver_database_use_ssl %}
$DB['CA_FILE']     = '{{ zbxserver_database_ca_file }}';
$DB['VERIFY_HOST'] = {{ zbxserver_database_verify_host | lower }};
{% endif %}

{% if zbxserver_configure_vault %}
$DB['VAULT']         = 'HashiCorp';
$DB['VAULT_URL']     = '{{ zbxserver_vault_url }}';
$DB['VAULT_DB_PATH'] = '{{ zbxserver_vault_database_mount_point }}/{{ zbxserver_vault_database_path }}';
$DB['VAULT_TOKEN']   = '{{ zbxserver_vault_token }}';
{% endif %}

$DB['SCHEMA'] = 'public';
$ZBX_SERVER = '{{ zbxserver_server_name }}';
$ZBX_SERVER_PORT = '{{ zbxserver_server_port }}';
$ZBX_SERVER_NAME = '{{ zbxserver_display_name | upper }}';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;
?>
